DATABASE_URL=mongodb+srv://Juliandm1995:ODSTcaT5991@cluster0.xieix.mongodb.net/njean
PAYLOAD_SECRET=de15de05886c9c3a8c3fb
NEXT_PUBLIC_APP_URL=https://cely-wedding.vercel.app

# Email (SendGrid)
SENDGRID_API_KEY=
SENDGRID_FROM_NAME=
SENDGRID_FROM_EMAIL=
# Cloudflare R2 / S3 Storage
S3_BUCKET=njean
S3_ACCESS_KEY_ID=37bf1103b1926f09f50f26526549a025
S3_SECRET_ACCESS_KEY=1aa820604e6be17383072e8c9ce3bba18175bda22ae34de05796dd59ffc27e59
S3_REGION=auto
S3_ENDPOINT=https://64c8090b4bbf143ac37e73265405802e.r2.cloudflarestorage.com


